
.icon-cancel-squared:before { content: '\e800'; } /* '' */
.icon-down-dir:before { content: '\e802'; } /* '' */
.icon-newspaper:before { content: '\e803'; } /* '' */
.icon-cog-1:before { content: '\e804'; } /* '' */